body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  background-color: #363636;
  color: white;
}

.App {
  width: 80%;
  min-height: 300px;
  margin: 40px auto;
  background-color: #282828;
  padding: 20px;
  border-radius: 6px;
}
